@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* font-family: 'Monoton', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rye', cursive; */

/* 70's color pallete */
/* #cf4916
#f9ac3d
#758c33
#985913
#cfb185
#2c758c */



body {
  /* metal version */
  background-color: #ffffff;
  background-image: url(https://www.transparenttextures.com/patterns/brushed-alum.png);

}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 62px;
  margin: 40px auto;

  /* metal theme */
  font-family: 'Josefin Sans', sans-serif;
  color: #a3a3a3;
  letter-spacing: 10px;
  text-shadow: -5px 2px 6px;

}

#message {

  visibility: hidden;

  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  margin: 35px auto;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 10px;

  width: 265px;
  height: 40px;

  /* for 0 */
  /* color: #5490ff; */

  /* for X */
  /* color: #5b9665; */

}



#gameboard{

/* clean silver border */
  border: 10px solid rgba(190, 190, 190, 0.94);
  border-left-color: rgba(136, 136, 136, 0.94);
  border-bottom-color: rgba(136, 136, 136, 0.94);
  background-image: url(https://www.transparenttextures.com/patterns/brushed-alum.png);
  background-color: rgba(136, 136, 136, 0.94);
  box-shadow: -2px 5px 15px;


  height: 206px;
  width: 206px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  padding: 10px;

}

.squares {
  /* brushed metal version */
  border: 3px solid rgba(194, 194, 194, 0.31);
  border-bottom: 3px solid rgba(88, 88, 88, 0.31);
  border-left: 3px solid rgba(88, 88, 88, 0.31);
  box-shadow: 0px 0px 4px 0px;

  height: 60px;
  width: 60px;
  margin: 0;
  display: inline-block;
  text-align: center;

  cursor: pointer;
}

#container {
  height: 221px;
  width: 505px;

  margin: 0 auto;
  display: block;
}


.scoreBoard {

  display: inline-block;

  height: 120px;
  width: 78px;


}

#scoreBoardLeft {
  margin: 50px 140px 50px 25px;
}

#scoreBoardRight {
  margin: 50px 26px 49px 151px;
}

.playerNames {
  display: inline-block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 4px;

  font-size: small;
  padding: 0px 0px 0px 4px;

  margin-top: 5px;
  margin-bottom: 0;

}

.playerCounter {
  display: inline-block;
  text-align: center;
  letter-spacing: 4px;

  font-size: 55px;
  margin: 0 17px 0px 17px;
  padding-left: 3px;
}


#o {
  /* default */
  /* color: #d6d6d6; */

  /* turn identifier; */
  color: #5490ff;
}

#x {
  /* default */
  color: #d6d6d6;

  /* turn identifier; */
  /* color: #5b9665; */
}


.score {

  display: inline-block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 6px;
  font-size: small;
  padding: 0px 0px 0px 5px;
  margin-top: 5px;
  margin-bottom: 0;

}


.scoreCount {

  display: inline-block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 4px;

  margin: 0;
  padding-left: 36px;

}




#resetButton {

  height: 30px;
  width: 200px;
  left: 50%;
  top: 80%;
  margin-top: -15px;
  margin-left: -100px;
  position: absolute;
  border-radius: 25px;
  box-shadow: inset 1px -3px 12px 0px;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  letter-spacing: 4px;
  cursor: pointer;

}

/* removes blue border from button */
button:focus {outline:0;}

.counterZero {
  /* metal color */
  color: #d6d6d6;

  display: table;
  margin: 0 auto;
  font-size: 55px;
}

.counterX {
  /* metal color */
  color: #d6d6d6;

  display: table;
  margin: 0 auto;
  font-size: 55px;
}
